@charset "utf-8";

// ==========================================================================
// Abstract
// ==========================================================================

@import "abstract/functions";
@import "abstract/variables";
@import "abstract/mixins";

// ==========================================================================
// Vendor
// ==========================================================================

@import "vendor/normalize";

// ==========================================================================
// Base
// ==========================================================================

@import "base/fonts";
@import "base/grid";

// ==========================================================================
// Pages
// ==========================================================================

// @import "pages/l-";

// ==========================================================================
// Component
// ==========================================================================

// @import "component/carousel";
// @import "component/carousel_fade_in";
// @import "component/modal";
// @import "component/toast";
@import "component/tooltip";

* {
  background-color: #eeecec;
  margin: 0;
}

body {
  width: 100%;
}

@media screen and(max-width: 600px) {
  body {
    background-color: #eeecec;
  }

  #im3 {
    display: none;
  }

  #navbar {
    visibility: hidden;
  }

  #columna1 {
    display: none;
  }

  #columnas2 {
    display: flex;
    flex-direction: column;
  }
  #contacto {
    display: flex;
    flex-direction: column;
  }

  html,
  body {
    overflow-x: hidden;
  }

  #contacto {
    font-size: small;
  }
  #textocontacto {
    font-size: medium;
    text-align: center;
  }
}

html {
  scroll-behavior: smooth;
}

/*nav bar*/
header {
  display: flex;
}

#div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c7c7c7;
}

div a {
  margin-top: 1.5em;
  margin-left: 3em;
  color: #3aa53a;
}

#navbar {
  background-color: #4a767e;
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  margin-top: 1em;
  height: 2em;
  align-items: center;
  margin-right: 0em;
  margin-left: 28em;
}

a {
  color: #f7f7f7;
  text-decoration: none;
  background-color: #4a767e;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
}

a:hover {
  color: black;
}

hr {
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #c7c7c7;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

/*tipografia*/
#tit {
  color: #4a767e;
  text-align: center;
  margin-top: 1.6em;
  font-family: "Prata", serif;
}

#subt {
  color: #a3a3a3;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
@media screen and(max-width: 600px) {
  #subt {
    font-size: 1.2rem;
  }
}

#frase {
  color: #4a767e;
  width: 56%;
  margin-left: 22%;
  margin-right: 22%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 1em;
  margin-bottom: 2em;
}
@media screen and(max-width: 600px) {
  #frase {
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 3rem;
    font-size: 1.4rem;
  }
}

#columna1 {
  color: gray;
  width: 40%;
}

#tituloserv {
  color: dimgray;
  text-align: center;
  font-family: "Prata", serif;
}

#columna2 {
  color: #4a767e;
  text-align: center;
  margin-bottom: 3em;
  font-family: "Raleway", sans-serif;
}

#textocontacto {
  color: gray;
  font-family: "Raleway", sans-serif;
}

#numtel {
  color: white;
}

/*layout*/
#columnas {
  display: flex;
  width: 66%;
  margin-left: 17%;
  margin-right: 17%;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "Raleway", sans-serif;
}

#columnas2 {
  display: flex;
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  justify-content: space-evenly;
  margin-top: 2em;
  margin-bottom: 2em;
}

#tip {
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

/*contacto*/
#contacto {
  display: flex;
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  justify-content: space-between;
  margin-bottom: 5em;
  margin-top: 2em;
}

#im1 {
  width: 74%;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 2em;
}
@media screen and(max-width: 600px) {
  #im1 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
#im2 {
  width: 74%;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 2em;
}

@media screen and(max-width: 600px) {
  #im2 {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
  }
}

#im3 {
  width: 20em;
}

#left {
  align-items: center;
  padding: 0.5em;
  flex-direction: column;
  margin-right: 2em;
}

#telefonos {
  font-size: 1.4em;
  align-items: inherit;
}

#telefonos p {
  color: #4a767e;
}

/*animacion
.animado {
  opacity: 0;
  transition: all 0.5s;
}*/

.mostrarArriba {
  animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

#lineaicono {
  display: flex;
  justify-content: center;
  align-items: center;
}

#foot {
  color: #4a767e;
  margin-left: 50%;
  margin-bottom: 2em;
  font-size: 1.5em;
}

#foot:hover {
  color: #aaaaaa;
}

/*animacion titulo*/
#tit {
  animation: op 2s;
  -webkit-animation: op 2s;
  animation-timing-function: linear;
}

@keyframes op {
  from {
    color: #eeecec;
  }
  to {
    color: #4a767e;
  }
}

#subt {
  animation: opa 3s;
  -webkit-animation: opa 3s;
  animation-timing-function: linear;
}

@keyframes opa {
  from {
    color: #eeecec;
  }
  to {
    color: #a3a3a3;
  }
}

.test {
  color: rgb(212, 211, 211);
  transition: all 1s;
  animation: opas 1s;
  -webkit-animation: opas 1s;
  animation-timing-function: linear;
  @keyframes opas {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }
    to {
      color: rgb(155, 154, 154);
      opacity: 1;
      transform: translateY(0);
    }
  }
}

h1::selection {
  background-color: rgb(221, 223, 221);
}

h2::selection {
  background-color: rgb(221, 223, 221);
}
