@charset "utf-8";

// ==========================================================================
// Abstract
// ==========================================================================

@import "abstract/functions";
@import "abstract/variables";
@import "abstract/mixins";

// ==========================================================================
// Vendor
// ==========================================================================

@import "vendor/normalize";

// ==========================================================================
// Base
// ==========================================================================

@import "base/fonts";
@import "base/grid";

// ==========================================================================
// Pages
// ==========================================================================

// @import "pages/l-";

// ==========================================================================
// Component
// ==========================================================================

// @import "component/carousel";
// @import "component/carousel_fade_in";
// @import "component/modal";
// @import "component/toast";
@import "component/tooltip";

* {
  background-color: #eeecec;
  margin: 0;
}

body {
  width: 100%;
}

@media screen and(max-width: 600px) {
  body {
    background-color: #eeecec;
  }

  #im3 {
    display: none;
  }

  #navbar {
    visibility: hidden;
  }

  #columna1 {
    display: none;
  }

  #columnas2 {
    display: flex;
    flex-direction: column;
  }
  #contacto {
    display: flex;
    flex-direction: column;
  }

  html,
  body {
    overflow-x: hidden;
  }

  #contacto {
    font-size: small;
  }
  #textocontacto {
    font-size: medium;
    text-align: center;
  }
}

html {
  scroll-behavior: smooth;
}

/*nav bar*/
header {
  display: flex;
}

#div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c7c7c7;
}

div a {
  margin-top: 1.5em;
  margin-left: 3em;
  color: #3aa53a;
}

#navbar {
  background-color: #4a767e;
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  margin-top: 1em;
  height: 2em;
  align-items: center;
  margin-right: 0em;
  margin-left: 28em;
}

a {
  color: #f7f7f7;
  text-decoration: none;
  background-color: #4a767e;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
}

a:hover {
  color: black;
}

hr {
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #c7c7c7;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

/*tipografia*/
#tit {
  color: #4a767e;
  text-align: center;
  margin-top: 1.6em;
  font-family: "Prata", serif;
}

#subt {
  color: #a3a3a3;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
@media screen and(max-width: 600px) {
  #subt {
    font-size: 1.2rem;
  }
}

#frase {
  color: #4a767e;
  width: 56%;
  margin-left: 22%;
  margin-right: 22%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 1em;
  margin-bottom: 2em;
}
@media screen and(max-width: 600px) {
  #frase {
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 3rem;
    font-size: 1.4rem;
  }
}

#columna1 {
  color: gray;
  width: 40%;
}

#tituloserv {
  color: dimgray;
  text-align: center;
  font-family: "Prata", serif;
}

#columna2 {
  color: #4a767e;
  text-align: center;
  margin-bottom: 3em;
  font-family: "Raleway", sans-serif;
}

#textocontacto {
  color: rgb(46, 46, 46);
  font-family: "Raleway", sans-serif;
}

#numtel {
  color: white;
}

/*layout*/
#columnas {
  display: flex;
  width: 66%;
  margin-left: 17%;
  margin-right: 17%;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "Raleway", sans-serif;
}

#columnas2 {
  display: flex;
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  justify-content: space-evenly;
  margin-top: 2em;
  margin-bottom: 2em;
}

#tip {
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

/*contacto*/
#contacto {
  display: flex;
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  justify-content: space-between;
  margin-bottom: 5em;
  margin-top: 2em;
}

#im1 {
  width: 74%;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 2em;
}
@media screen and(max-width: 600px) {
  #im1 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
#im2 {
  width: 74%;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 2em;
}

@media screen and(max-width: 600px) {
  #im2 {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
  }
}

#im3 {
  width: 20em;
}

#left {
  align-items: center;
  padding: 0.5em;
  flex-direction: column;
  margin-right: 2em;
}

#telefonos {
  font-size: 1.4em;
  align-items: inherit;
}

#telefonos p {
  color: #4a767e;
}

/*animacion
.animado {
  opacity: 0;
  transition: all 0.5s;
}*/

.mostrarArriba {
  animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

#lineaicono {
  display: flex;
  justify-content: center;
  align-items: center;
}

#foot {
  color: #4a767e;
  margin-left: 50%;
  margin-bottom: 2em;
  font-size: 1.5em;
}

#foot:hover {
  color: #aaaaaa;
}

/*animacion titulo*/
#tit {
  animation: op 2s;
  -webkit-animation: op 2s;
  animation-timing-function: linear;
}

@keyframes op {
  from {
    color: #eeecec;
  }
  to {
    color: #4a767e;
  }
}

#subt {
  animation: opa 3s;
  -webkit-animation: opa 3s;
  animation-timing-function: linear;
}

@keyframes opa {
  from {
    color: #eeecec;
  }
  to {
    color: #a3a3a3;
  }
}

.test {
  color: rgb(212, 211, 211);
  transition: all 1s;
  animation: opas 1s;
  -webkit-animation: opas 1s;
  animation-timing-function: linear;
  @keyframes opas {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }
    to {
      color: rgb(155, 154, 154);
      opacity: 1;
      transform: translateY(0);
    }
  }
}

h1::selection {
  background-color: rgb(221, 223, 221);
}

h2::selection {
  background-color: rgb(221, 223, 221);
}

/*form style*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: "Lato", sans-serif;

  color: #b3aca7;
}

form {
  display: inline-block;
  width: 20em;
  margin: auto;
  margin-top: 2em;
}

input {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  width: 20em;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #4a767e;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 20em;

  height: 110px;

  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;

  border: solid 1px #4a767e;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

button {
  width: 20em;

  padding: 1em;
  margin: -5px 0px 0px 0px;

  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  color: #6b6b6b;

  outline: none;
  cursor: pointer;

  border: solid 1px #4a767e;
  border-top: none;
}

#submit:hover {
  color: black;
}

#form {
  align-self: center;
  margin-top: 2em;
  margin-left: 6em;
}
/*footer style*/
footer {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-bottom: 0;
  justify-content: space-around;
  background-color: #4a767e;
  line-height: 25px;
  color: white;
  font-family: "Prata", serif;
  font-size: 1.1em;
}

footer a {
  text-decoration: none;
}

footer p {
  display: inline;
  background-color: #4a767e;
}
#iconfooter {
  padding: 0.5em;
  background-color: #4a767e;
  font-size: 1.2em;
}

footer div {
  background-color: #4a767e;
}

#linkfooter {
  color: white;
  font-family: "Prata", serif;
  margin-left: -0em;
}

#linkfooter:hover {
  color: black;
}

@media screen and(max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}
@media screen and(max-width: 600px) {
  form {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
